# Exercícios da biblioteca Pandas

### Todas as questões serão desenvolvidas com base no banco de dados disponibilizado no link:
https://bit.ly/3iEXaQ2
### Façam o download para responder a lista.

## Problema 1
Você foi chamado para fazer a análise de um banco de dados do vinho branco português "Vinho Verde". As variáveis de entrada do banco são informações físico-químicas e a variável de saída é a qualidade atribuída ao vinho, com escala entre 0 e 10. Importe o banco de dados, identifique o tipo das variáveis, visualize as primeiras e as últimas 5 linhas e mostre suas estatísticas descritivas.

In [1]:
#Importando a biblioteca 
import pandas as pd

#Importando o banco de dados
df = pd.read_excel('winequality-white.xlsx')
#Caso o arquivo não esteja no mesmo diretório, tente o comando: df = pd.read_excel(r'C:\Users\seu_nome_usado\pasta_onde_esta_o_arquivo\winequality-white.xlsx')

#Identificando o tipo das variáveis
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [2]:
#Visualizando as primeiras 5 linhas
df.head(5)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            NaN              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [3]:
#Visualizando as últimas 5 linhas
df.tail(5)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
4893            6.2              0.21         0.29  ...       0.50     11.2        6
4894            6.8              0.39         0.34  ...       0.44     12.0        7
4895            6.5              0.24         0.19  ...       0.46      9.4        6
4896            5.5              0.29         0.30  ...       0.38     12.8        7
4897            6.0              0.21         0.38  ...       0.32     11.8        6

[5 rows x 12 columns]

In [4]:
#Estatísticas descritivas
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    4885.000000       4898.000000  ...  4892.000000  4898.000000
mean        6.857144          0.278858  ...    10.515000     5.878114
std         0.844155          0.100980  ...     1.231749     0.885551
min         3.800000          0.080000  ...     8.000000     3.000000
25%         6.300000          0.210000  ...     9.500000     5.000000
50%         6.800000          0.260000  ...    10.400000     6.000000
75%         7.300000          0.320000  ...    11.400000     6.000000
max        14.200000          1.100000  ...    14.200000     9.000000

[8 rows x 12 columns]

## Problema 2
Identifique no banco de dados se há a presença de duplicatas e de dados faltantes. Se houver, exclua as duplicatas, calcule o total presente de dados faltantes em cada uma das variáveis e o total presente no banco de dados. Uma das técnicas de tratamento de dados faltantes é substituir o valor ausente pela média dos valores da variável correspondente. Nesse caso, aplique tal técnica.

In [5]:
#Identificando duplicatas
df.duplicated()

0       False
1       False
2       False
3       False
4        True
        ...
4893    False
4894     True
4895    False
4896    False
4897    False
Length: 4898, dtype: bool

In [6]:
#Excluindo duplicatas
df = df.drop_duplicates()

In [7]:
#Identificando valores ausentes
df.isnull()

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0             False             False        False  ...      False    False    False
1             False             False        False  ...      False    False    False
2              True             False        False  ...      False    False    False
3             False             False        False  ...      False    False    False
5             False             False        False  ...      False    False    False
...             ...               ...          ...  ...        ...      ...      ...
4892          False             False        False  ...      False    False    False
4893          False             False        False  ...      False    False    False
4895          False             False        False  ...      False    False    False
4896          False             False        False  ...      False    False    False
4897          False             False        False  ...      False    False    False

[3960 rows x 12 columns]

In [8]:
#Total de valores ausentes em cada variável
df.isnull().sum()

fixed acidity           13
volatile acidity         0
citric acid              8
residual sugar           0
chlorides                7
free sulfur dioxide      0
total sulfur dioxide     7
density                  0
pH                       7
sulphates                6
alcohol                  6
quality                  0
dtype: int64

In [9]:
#Total de valores ausentes no banco de dados
df.isnull().sum().sum()

54

In [10]:
#Calculando a média de cada variável que contém dados faltantes

#fixed acidity
media_fa = df.iloc[:,0].mean()

#citric acid
media_ca = df.iloc[:,2].mean()

#chlorides
media_ch = df.iloc[:,4].mean()

#total sulfur dioxide
media_tsd = df.iloc[:,6].mean()

#pH
media_ph = df.iloc[:,8].mean()

#sulphates
media_su = df.iloc[:,9].mean()

#alcohol
media_al = df.iloc[:,10].mean()


#Substituindo os valores ausentes nas variáveis por suas médias
values = {'fixed acidity': media_fa, 'citric acid': media_ca, 'chlorides': media_ch, 'total sulfur dioxide': media_tsd, 'pH': media_ph, 'sulphates': media_su, 'alcohol': media_al}
df.fillna(value=values)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0          7.000000              0.27         0.36  ...       0.45      8.8        6
1          6.300000              0.30         0.34  ...       0.49      9.5        6
2          6.839258              0.28         0.40  ...       0.44     10.1        6
3          7.200000              0.23         0.32  ...       0.40      9.9        6
5          8.100000              0.28         0.40  ...       0.44     10.1        6
...             ...               ...          ...  ...        ...      ...      ...
4892       6.500000              0.23         0.38  ...       0.54      9.7        5
4893       6.200000              0.21         0.29  ...       0.50     11.2        6
4895       6.500000              0.24         0.19  ...       0.46      9.4        6
4896       5.500000              0.29         0.30  ...       0.38     12.8        7
4897       6.000000              0.21         0.38  ...       0.32     11.8        6

[3960 rows x 12 columns]

## Problema 3
Em uma tarefa de construção de modelo preditivo, uma das etapas primárias é analisar como se estabelecem as relações entre as variáveis no banco de dados. Isso é feito a partir da análise das correlações entre as variáveis entrada-entrada e entrada-saída. Geralmente, adota-se o seguinte critério: variáveis de entrada que possuem correlação acima de 85% com outras variáveis de entrada são caracterizadas como variáveis redundantes, por possuirem teor informacional semelhantes. Já as variáveis de entrada que possuem correlação abaixo de 15% com as variáveis de saída são classificadas como variáveis que não influenciarão o resultado da predição, uma vez que não exercem muita influência sobre a variável de saída. Nesse sentido, na tarefa de seleção de atributos, se busca selecionar as variáveis que possuem maior capacidade de influência no resultado da predição, enquanto que há a exclusão das variáveis redundantes. A decisão de quais variáveis serão excluídas vem do especialista, para o qual as estatísticas são apresentadas, a fim de que decida quais serão eliminadas e quais serão mantidas. Portanto, liste as variáveis que poderiam ser consideradas à exclusão e apresente a justificativa para tal decisão.

In [11]:
#Calculando a matriz de correlação
df.corr()

                      fixed acidity  volatile acidity  ...   alcohol   quality
fixed acidity              1.000000         -0.018583  ... -0.113639 -0.127498
volatile acidity          -0.018583          1.000000  ...  0.047505 -0.189133
citric acid                0.299141         -0.159584  ... -0.077234  0.006586
residual sugar             0.088555          0.095616  ... -0.401008 -0.115755
chlorides                  0.024043          0.085538  ... -0.356487 -0.218533
free sulfur dioxide       -0.058105         -0.101392  ... -0.252643  0.011009
total sulfur dioxide       0.085654          0.103639  ... -0.447677 -0.183785
density                    0.269847          0.058943  ... -0.761430 -0.336745
pH                        -0.431795         -0.044260  ...  0.093824  0.122725
sulphates                 -0.016344         -0.021530  ... -0.023662  0.051231
alcohol                   -0.113639          0.047505  ...  1.000000  0.461453
quality                   -0.127498         -0.189133  ...  0.461453  1.000000

[12 rows x 12 columns]

Variáveis de entrada-entrada identificadas com alta correlação:
#### residual sugar - density: 82%

Variáveis de entrada identificadas com baixa correlação com a variável de saída
#### fixed acidity: -12,7%
#### citric acid: 0,65%
#### residual sugar: -11,6%
#### free sulfur dioxide: 1,1%
#### pH: 12,3%
#### sulphates: 5,1%

Devido às correlações apresentadas, tais variáveis seriam apresentadas ao especialista, a fim que de pudesse julgar quais seriam melhores para a exclusão.

## Problema 4
Por fim, gere o relatório estatístico completo do banco de dados e salve-o em HTML. Coloque como título do relatório 'Banco de Dados - Vinho Verde' e nomeie o arquivo como 'relatorio_vinhoverde'.

Link com o tutorial para a instalação do módulo: https://pandas-profiling.github.io/pandas-profiling/docs/master/index.html

In [12]:
#Importando o módulo
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title='Banco de Dados - Vinho Verde')
profile.to_file('relatorio_vinhoverde.html')

Summarize dataset: 100%|██████████| 26/26 [00:54<00:00,  2.09s/it, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.05s/it]
Render HTML: 100%|██████████| 1/1 [00:05<00:00,  5.69s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 25.21it/s]